<div class="container">
  <div class="row i-am-centered top-buffer">
      <div class="jumbotron">
        <h3 class="display-4">Create Outfit</h3>
        <form class="form-group top-buffer-xs" action="/outfits" method="POST">
            <input class="top-fuffer-xs" type="text" name="outfit[name]" placeholder="Outfit's Name"/required><br></br>
            <label><h4>Choose Items</h4></label> <a class="add-item" href="/items/new">Add New item</a> <br>
          <div class="form-check">
            <% @user.items.each do |item| %>
              <input class="top-buffer-xs form-check-input" type="checkbox" value="" id="defaultCheck1" name="outfit[item_ids][]" value="<%= item.id %>">
              <label class="top-buffer-xs form-check-label" for="defaultCheck1"><%= item.name.capitalize %><br>
            <% end %>
          </div>
          <input class="btn btn-info btn-block top-buffer" type="submit" value="Create New Outfit">
        </form>
      </div>
  </div>
</div>
