<div class="container">
  <div class="row i-am-centered top-buffer">
      <div class="jumbotron">
        <h2 class="display-4">Your Outfits</h2>
        <%if @outfits.size == 0%>
          <p>No Outfits to show. Click <a href="/outfits/new">HERE</a> to create your first outfit</p>
        <% else %>
          <%@outfits.each do |outfit|%>
          <ul class="list-group">
            <li class="list-group-item"><a href="/outfits/<%=outfit.slug%>"><%=outfit.name.capitalize%></a></li>
          </ul>
          <%end%>
         <% end %>
         <p> <a href="/outfits/new">Create New Outfit</a></p>
      </div>
  </div>
</div>
