<form class="form-horizontal top-buffer i-am-centered" action="/signup" method="POST">
<fieldset>

<!-- Form Name -->
<h1>Create New Account</h1>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="1">Name</label>
  <div class="col-md-8">
  <input name="name" type="text" class="form-control input-md" required>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="2">Username</label>
  <div class="col-md-8">
  <input name="username" type="text" class="form-control input-md" required>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="3">Email</label>
  <div class="col-md-8">
  <input name="email" type="text" class="form-control input-md" required>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="5">Enter Password </label>
  <div class="col-md-8">
    <input name="password" type="password" placeholder="" class="form-control input-md" required>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="1"></label>
  <div class="col-md-8">
    <button class="btn btn-info btn-block login" type="submit">Save</button>
  </div>
</div>

<div class="">
  <label class="col-md-8 control-label" for="3">Alredy have a MyCloset?</label>
  <div class="col-md-8">
  </label>&nbsp<a href="/login">Log In To Your Account</a>
  </div>
</div>

</fieldset>
</form>
