<h2>Create New Account</h2>

<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="name" required></p>
  <p>Username: <input type="text" name="username" required></p>
  <p>Email: <input type="email" name="email" required></p>
  <p>Password: <input type="text" name="password" required></p>
  <input class="btn btn-primary" type="submit" Value="Create User">
</form>

<label>Alredy have a MyCloset?</label><a href="/login">Log InTo Your Account</a>
