<form class="form-horizontal top-buffer i-am-centered" action="/login" method="POST">
<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
						<p>Log in to enter Mycloset</p>
            <div class="form-box">
                <form action="/login" method="post">
                  <input type="text" name="username" placeholder="Username">
                  <input type="text" name="password" placeholder="Password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
								<p class="top-fuffer-small">Not a Member? &nbsp<a href="/signup">Sign Up</a></p>
            </div>

        </div>
</div>
