
<h2>Welcome <%=@user.name%></h2>

<h3>What would you like to do today?</h3>

<ul>
  <li><a href="/outfits">Go To My Outfits</a></li>
  <li><a href="/items">Go To My Items</a></li>
</ul>

<a href="/users/<%=@user.slug%>/edit">Edit Profile</a>
