<div  class="container">
  <div class="row i-am-centered top-buffer">
      <div class="jumbotron">
        <h2 class="display-4">Log in Error</h2>
        <p>The email adress you provided is already in use. Please login or signup with a different email adress.</p>
         <p class="top-buffer-xs"></p>
         <p class="btn btn-outline-info btn-block "> <a href="/login">Login In</a></p>
         <p class="top-buffer-xs"></p>
         <p class="btn btn-outline-info btn-block "> <a href="/signup">Sign Up</a></p>
      </div>
  </div>
</div>
