<h1>Create Item</h1>

<form action="/items" method="POST">
  <label>Name</label><br>
  <input type="text" name="name"/required><br>
  <label>Category</label><br>
  <select name="category">
  <option value="shirts">Shirt</option>
  <option value="coat">Coat</option>
  <option value="jacket">Jacket</option>
  <option value="pants">Pants</option>
  <option value="shoes">Shoes</option>
  <option value="accessories">Accessories</option>
</select><br>
  <label>Type</label><br>
  <input type="text" name="item_type" /required><br>
  <label>Color</label><br>
  <input type="text" name="color" /required><br>

  <input type="submit" value="Create New Item">
</form>
