
<div class="container">
  <div class="row i-am-centered top-buffer">
      <div class="jumbotron">
        <h1 class="display-4">Welcome To MyCloset</h1>
        <p class="lead">Keep track of your clothes and create exciting outfits</p>
        <hr class="my-4">
        <p>Sign up today and create your own MyCloset</p>
        <p class="lead">
          <a class="btn btn-info btn-lg" href="/signup" role="button">Sign Up</a>
        </p>
      </div>
  </div>



</div>
